@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Jura', sans-serif;
font-family: 'Raleway', sans-serif; */

/* Reglas generales */

:root {
    --color-accent: #e21c21;
    --color-white: #fff;
    --color-grey: #999;
    --color-black: #000;
    --color-border: #2e528f;
    --color-form: #333;
}

.accent-color {
    color: var(--color-accent, firebrick);
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: "Raleway", sans-serif;
    display: grid;
}

header,
main {
    width: 90%;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}

button {
    font-size: 18px;
    font-weight: bold;
}

/* Cabecera */
header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    margin-top: 20px;
}

header button {
    background-color: var(--color-accent, firebrick);
    color: var(--color-white, white);

    text-transform: uppercase;

    border: none;
    border-radius: 32rem;

    padding: 0.5rem 1.2rem;

    position: absolute;
    right: 10%;
    top: 0.2rem;
}

header button:hover {
    background-color: var(--color-black, black);
    cursor: pointer;
}

header .logo {
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
}

header nav {
    width: 100%;
}

nav ul {
    font-family: "Jura", sans-serif;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    font-size: 15px;
    font-weight: bold;
    color: var(--color-grey, grey);

    text-transform: uppercase;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: inherit;
}

/* Pie de página */

footer {
    width: 100vw;
    height: 5.5rem;
    background-color: var(--color-black, black);
    color: var(--color-white, white);

    padding-inline: 15%;
    margin-top: auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer .rrss {
    text-align: center;
}

.rrss p {
    margin-bottom: 0;
}

footer .logo {
    display: inline;
    width: 40px;
    margin: 0.5rem;
}

footer a {
    text-decoration: none;
}

/* Home */
/* Columna principal */

.home {
    display: grid;
    grid-template-columns:
        minmax(min-content, 10%)
        minmax(0, 1fr)
        minmax(min-content, 10%);
    gap: 2rem;
}

.home > * {
    border: solid 0.2rem var(--color-border);
}

.principal {
    padding: 0.5rem;
}

.oferta-principal {
    width: 100%;
    position: relative;
}

.oferta-principal img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
}

.oferta-principal img::before {
    background-color: var(--color-black);
    content: "";
    height: 100px;
    width: 100px;
    z-index: 1;
    position: absolute;
}

.ofertas {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.oferta-card {
    flex: 1;

    display: flex;
    flex-flow: row wrap;
}

.oferta-card ul {
    list-style-type: none;
    padding-left: 0.5rem;
    font-weight: bold;

    height: 30%;
}

.oferta-card li:first-child {
    color: var(--color-accent);
}

.oferta-card img {
    height: 35%;
}

.oferta-card button {
    text-transform: uppercase;
    padding: 0.5rem 2.5rem;

    color: var(--color-white);
    background-color: var(--color-black);

    border: none;
    border-radius: 32rem;

    align-self: flex-end;
}

.oferta-card button:hover {
    background-color: var(--color-accent);
    cursor: pointer;
}

/* Columnas laterales home */

.test,
.review {
    padding: 0.5rem;
}

.test h2,
.review h2 {
    text-align: center;
}

/* Sobre nosotros */

.sobre-nosotros {
    max-width: 600px;
    margin: 0 auto;
}

.sobre-nosotros h1 {
    margin-bottom: 0.5rem;
}

.separador {
    width: 2rem;
    position: relative;
    left: -47%;

    border: solid 3px var(--color-accent);
}

/* Contacto */

.flex-contacto {
    display: flex;
    flex-flow: row wrap;

    gap: 1rem;
    margin-bottom: 2rem;
}

.flex-contacto > * {
    flex: 1;
    gap: 0.5rem;
}

.datos-contacto {
    font-size: 25px;
}

.formulario-contacto {
    display: flex;
    flex-direction: column;
}

.formulario-contacto > :is(:not(label)) {
    color: var(--color-white);
    background-color: var(--color-form);
    min-height: 2rem;

    border: none;
}

.formulario-contacto :is([for="si"], [for="no"]) {
    margin-left: 2rem;
}

.formulario-contacto::placeholder {
    color: var(--color-grey);
}

.formulario-contacto [type="button"] {
    width: 7rem;
    align-self: flex-end;
}

@media (max-width: 800px) {
    .flex-contacto > * {
        flex: 100%;
    }
}

/* Adquisición */

.compra {
    display: flex;
    flex-flow: row wrap;

    gap: 2rem;
}

.compra > * {
    flex: 1;
}

.formulario-compra > * {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
}

.formulario-compra label {
    font-size: 65%;
    color: var(--color-grey);
}

.formulario-compra input:is(:not([type="reset"])) {
    border: none;
    border-bottom: solid 2px var(--color-grey);
}

.formulario-compra [type="reset"] {
    width: auto;

    color: var(--color-white);
    background-color: var(--color-black);
    font-weight: bold;
    text-transform: uppercase;

    padding: 0.75rem 4rem;

    border: none;
    border-radius: 32rem;

    float: right;

    cursor: pointer;
}
