* {
    /* Para modificar el modelo de caja */
    box-sizing: border-box;
}

body {
    background-image: url(./img/madrid-airshot.jpg);
    background-position: center bottom;
    background-size: 100%;
    background-repeat: repeat;
}

img {
    /* Para que todas las imágenes se adapten a su contenedor */
    width: 20%;
    display: block;
}

main {
    position: relative;
}

header {
    position: fixed;
    width: 75%;
    left: 25%;
    top: 0;
    background-color: black;
    color: white;
    text-align: center;
}

div.central {
    position: absolute;
    margin-top: 10%;
    margin-left: 25%;
    background-color: rgba(255, 255, 255, 0.5);
}

section.enlaces {
    position: absolute;
    width: 25%;
    left: 0;
}

section.enlaces a {
    /* Para que cada enlace esté uno dentro de otro */
    display: block;
}

.central img {
    float: left;
    clear: left;
    margin: 1.5rem;
}

article.derecha {
    width: 50%;
}

footer.copyright {
    position: fixed;
    width: 50%;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: black;
    color: white;
}
