@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Jura', sans-serif;
font-family: 'Raleway', sans-serif; */

/* Reglas generales */

:root {
    --color-accent: #e21c21;
    --color-white: #fff;
    --color-grey: #999;
    --color-black: #000;
    --color-border: #2e528f;
    --color-form: #333;
    --color-background: #f5f5f5;
}

.accent-color {
    color: var(--color-accent, firebrick);
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: "Raleway", sans-serif;
    display: grid;
    margin: 0;
    background-color: var(--color-background, whitesmoke);
}

header,
main {
    width: 90%;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}

button,
[type="submit"],
[type="reset"] {
    font-size: 18px;
    font-weight: bold;

    border: none;
    border-radius: 32rem;

    text-transform: uppercase;
}

button:hover,
[type="submit"]:hover,
[type="reset"]:hover {
    cursor: pointer;
}

/* Cabecera */
header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    margin-top: 20px;
}

header button {
    background-color: var(--color-accent, firebrick);
    color: var(--color-white, white);

    text-transform: uppercase;

    border: none;
    border-radius: 32rem;

    padding: 0.5rem 1.2rem;

    position: absolute;
    right: 10%;
    top: 0.5rem;
}

header button:hover {
    background-color: var(--color-black, black);
}

header .logo {
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
}

header nav {
    width: 100%;
}

nav ul {
    font-family: "Jura", sans-serif;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 800px) {
    header {
        flex-wrap: wrap;
    }
}

nav li {
    font-size: 15px;
    font-weight: bold;
    color: var(--color-grey, grey);

    text-transform: uppercase;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: inherit;
}

/* Pie de página */

footer {
    width: 100%;
    height: 5.5rem;
    background-color: var(--color-black, black);
    color: var(--color-white, white);

    padding-inline: 15%;
    margin-top: auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer .rrss {
    text-align: center;
}

.rrss p {
    margin-bottom: 0;
}

footer .logo {
    display: inline;
    width: 40px;
    margin: 0.5rem;
}

footer a {
    text-decoration: none;
}

/* Información de interés */

.informacion-interes {
    width: 50%;
    min-width: 500px;
    margin-inline: auto;
}

.etiquetas-medioambientales {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.etiquetas-medioambientales > * {
    align-self: center;
}
