@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Jura', sans-serif;
font-family: 'Raleway', sans-serif; */

:root {
    --color-accent: #e21c21;
    --color-white: #fff;
    --color-grey: #999;
    --color-black: #000;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

header,
main {
    width: 70%;
    margin: 0 auto;
}

/* Cabecera */
header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    margin-top: 20px;
}

header button {
    background-color: var(--color-accent, firebrick);
    color: var(--color-white, white);

    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

    border: none;
    border-radius: 32rem;

    padding: 0.5rem 1.2rem;

    position: absolute;
    right: 10%;
    top: 20px;
}

header button:hover {
    background-color: var(--color-black, black);
    cursor: pointer;
}

header .logo {
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
}

.accent-color {
    color: var(--color-accent, firebrick);
}

header nav {
    width: 100%;
}

nav ul {
    font-family: "Jura", sans-serif;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    font-size: 15px;
    font-weight: bold;
    color: var(--color-grey, grey);

    text-transform: uppercase;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: inherit;
}

/* Pie de página */

footer {
    width: 100%;
    background-color: var(--color-black, black);
    color: var(--color-white, white);

    padding-inline: 15%;

    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer .rrss {
    text-align: center;
}

.rrss p {
    margin-bottom: 0;
}

footer .logo {
    width: 40px;
    margin: 0.5rem;
}

footer a {
    text-decoration: none;
}
